{% load numberformat %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
<h1>Product List</h1>
<ul>
    {% for product in products %}
        <li>
           {{product.name}}
           <br>
           {{product.total_price|formatize }}
            <br>
            {% if product.description %}
            {{ product.description|safe|truncatechars:50 }}
        {% else %}
            No description
        {% endif %}

        <p>{{ product.created_at|date:"d.m.Y H:m" }}</p>
            
        </li>
        <hr>
    {% endfor %}
</ul>

<br>


    
</body>
</html>